---
###########################################################################################
#                                                                                         #
#                                                                                         #
#                       GlusterFS Cluster conf vars                                       #
#                                                                                         #
#                                                                                         #
###########################################################################################
# gluster volume
gluster_cluster_volume: "gv0"
# gluster cluster ips
gluster_cluster_host0: "167.71.42.51"
glusterd_version: '7'

###########################################################################################
#                                                                                         #
#                                                                                         #
#                       Hyperledger Fabric Network config vars                            #
#                                                                                         #
#                                                                                         #
###########################################################################################

# Organization Details
org:
  name: "hlf"
  unit: "bityoga"

# Creds of various agents
tlsca_user: "tlsca"
tlsca_password: "tlscapw"

orgca_user: "orgca"
orgca_password: "orgcapw"  

orderer_user: "orderer"
orderer_password: "ordererpw"

peer1_user: "peer1"
peer1_password: "peer2pw"

peer2_user: "peer2"
peer2_password: "peer2pw"

couchdb_user: "couchdb"
couchdb_password: "couchdbpw"


hlf_explorer_db_user: "hppoc"
hlf_explorer_db_password: "password"


hlf_explorer_admin_user: "admin"
hlf_explorer_admin_password: "adminpw"



# Name of the swarm network that would host the services
swarm_network: "hlfnet"

######################################### KEY INFO ABOUT PORT MAPPING #############################################
# All services internally run on <<target_port>> and get mapped to the <<publised_port>> sepecified in their respective section bellow
# Orderer: 7050
# Peer: 7051
# CA: 7054


######################################### CAs #############################################
tlsca: { switch: "on", image: "hyperledger/fabric-ca", tag: "1.4.3", replicas: -1, port: 8081,
 path: "/root/{{tlsca_user}}",
 db: "{{sqlite}}",
 name: "{{tlsca_user}}", password: "{{tlsca_password}}"
}

orgca: { switch: "on", image: "hyperledger/fabric-ca", tag: "1.4.3", replicas: -1, port: 8052,
 path: "/root/{{orgca_user}}",
 db: "{{sqlite}}",
 name: "{{orgca_user}}", password: "{{orgca_password}}"
 }


######################################### Orderer #############################################
orderer: { switch: "on", image: "hyperledger/fabric-orderer", tag: "1.4.3", replicas: -1, port: 8053,
caname: "{{orgca.name}}", anchorpeer: "{{peer1.name}}", anchorport: "{{peer1.port}}",
path: "/root/{{orderer_user}}", type: "solo",
name: "{{orderer_user}}", password: "{{orderer_password}}"
}

######################################### Peers #############################################
peer1: { switch: "on", image: "hyperledger/fabric-peer", tag: "1.4.3", replicas: -1, port: 8054, 
caname: "{{orgca.name}}", path: "/root/{{peer1_user}}", bootstrap: "",
dbtype: "goleveldb",
name: "{{peer1_user}}", password: "{{peer1_password}}",
leader: "{peer1_user}}"
}

peer2: { switch: "on", image: "hyperledger/fabric-peer", tag: "1.4.3", replicas: -1, port: 8055,
caname: "{{orgca.name}}", path: "/root/{{peer2_user}}", bootstrap: "{{peer1.name}}:7051",
dbtype: "CouchDB",
name: "{{peer2_user}}", password: "{{peer2_password}}",
leader: "{{peer1_user}}"
}

######################################### CLI #############################################
cli: { switch: "on", image: "hyperledger/fabric-tools", tag: "1.4.3"}
######################################### DBs #############################################
sqlite: {type: "sqlite3", source: "fabric-ca-server.db"}

couchdb: { switch: "on", image: "couchdb", tag: "2.3", replicas: -1,
path: "/opt/couchdb/data",
name: "{{couchdb_user}}", password: "{{couchdb_password}}"
}


hlf_explorer_db : {
  image : "hyperledger/explorer-db",
  tag : "latest",
  name : 'hlf_explorer_db',
  replicas: -1,
  db_name : "fabricexplorer",
  db_user_name : "{{hlf_explorer_db_user}}",
  db_password : "{{hlf_explorer_db_password}}",
  port : 5432,
  switch: "on",
  volume : "pgdata"
}

hlf_explorer : {
  image : "hyperledger/explorer",
  tag : 'latest',
  name : 'hlf_explorer',
  admin_user: "{{hlf_explorer_admin_user}}",
  admin_password: "{{hlf_explorer_admin_password}}",
  replicas: -1,
  port : 8090,
  switch: "on",
  volume : "walletstore"
}

swarm_visualizer : {
  image : "dockersamples/visualizer",
  tag : 'latest',
  name : 'swarm_visualizer',
  replicas: -1,
  port : 9090,
  switch: "on",
}

portainer : {
  image : "portainer/portainer",
  tag : 'latest',
  name : 'portainer',
  replicas: -1,
  port : 9000,
  switch: "on",
}

portainer_agent : {
  image : "portainer/agent",
  tag : 'latest',
  name : 'portainer_agent',
  port : 9001,
  switch: "on",
}

services:
  - "{{tlsca}}"
  - "{{orgca}}"
  - "{{orderer}}"
  - "{{ peer1 }}"    
  - "{{ peer2 }}"
  - "{{hlf_explorer_db}}"
  - "{{hlf_explorer}}"
  - "{{swarm_visualizer}}"
  - "{{portainer}}"
  - "{{portainer_agent}}"
