# ---

# HLF CLI Service
  
  # Stop all Services services
- name: Stop CLI Service
  become: yes
  docker_swarm_service:   
    name: "{{item.name}}_cli"
    state: absent
    networks:
      - "{{swarm_network}}"
  loop: "{{ peerservices }}"
    
- name: Clean CLI {{item.name}}_cli folder in hlft-store
  become: yes
  file: 
    path: "/root/hlft-store/{{item.name}}_cli"
    state: absent               
  loop: "{{ peerservices }}"
  
- name: Create CLI {{item.name}}_cli folder in hlft-store
  become: yes
  file: 
    path: "/root/hlft-store/{{item.name}}_cli"
    state: directory
    mode: 0750              
  loop: "{{ peerservices }}"

# Copy the relevent scripts
- name: Copy scripts
  become: yes
  copy:
    src: "cli.sh"
    dest: "/root/hlft-store/{{item.name}}_cli/cli.sh"
    mode: "0500"
    force: yes 
  loop: "{{ peerservices }}"

  # Create & Start service for CLI 
- name: Fabric Service - {{ item.name }}
  become: yes
  docker_swarm_service:
    restart_policy: "on-failure"
    name: "{{item.name}}_cli"
    hostname: "{{item.name}}_cli"
    networks:
      - "{{swarm_network}}"
    image: "{{cli.image}}:{{cli.tag}}"
    command: >
      bash -c "/root/{{item.name}}_cli/cli.sh;"
    working_dir: /root/{{item.name}}_cli
    mounts:      
      # PEER CLI MOUNT
      - source: "/root/hlft-store/{{item.name}}_cli/"
        target: "/root/{{item.name}}_cli"
        type: bind 
      # ORDERER ARTIFACTS, peer channel transactions
      - source: "/root/hlft-store/orderer_cli/artifacts/"
        target: "/root/{{item.name}}_cli/artifacts"
        type: bind
      # PEER MOUNT, for the TLS certs
      - source: "/root/hlft-store/{{orgca.name}}/{{item.name}}/"
        target: "{{item.path}}"
        type: bind     
      # ADMIN MOUNT, runs the channel commands as admin
      - source: "/root/hlft-store/{{orgca.name}}/{{admin_user}}/"
        target: "/root/{{admin_user}}"
        type: bind
    env: 
      - "IDX={{idx}}"
      - "GOPATH=/opt/gopath"
      - "CORE_VM_ENDPOINT=unix:///var/run/docker.sock"
      - "FABRIC_LOGGING_SPEC={{LOG_LEVEL}}"      
      - "CORE_PEER_ID={{item.name}}"
      - "CORE_PEER_ADDRESS={{item.name}}:7051"
      - "CORE_PEER_LISTENADDRESS=0.0.0.0:7051"
      - "CORE_PEER_CHAINCODELISTENADDRESS=0.0.0.0:7052"
      - "CORE_PEER_LOCALMSPID={{org.name}}MSP"          
      - "CORE_PEER_TLS_ENABLED=true"
      - "CORE_PEER_TLS_CERT_FILE={{item.path}}/msp/tls/server.crt" #fully qualified path of the server certificate
      - "CORE_PEER_TLS_KEY_FILE={{item.path}}/msp/tls/server.key" #fully qualified path of the server private key
      - "CORE_PEER_TLS_ROOTCERT_FILE={{item.path}}/msp/tls/ca.crt" #fully qualified path of the CA chain file
      - "CORE_PEER_TLS_CLIENTAUTHREQUIRED=false"
      # - "CORE_PEER_TLS_CLIENTROOTCAS_FILES=tba" #fully qualified path of the CA chain file
      # - "CORE_PEER_TLS_CLIENTCERT_FILE=tba" #fully qualified path of the client certificate
      # - "CORE_PEER_TLS_CLIENTKEY_FILE=tba" #fully qualified path of the client private key
      - "TLSCA_HOST={{tlsca.name}}"
      - "ORDERER_HOST={{orderer.name}}"
      - "AGENT_HOST={{item.name}}"   
      - "ADMIN_USER={{admin_user}}"        
    placement:      
      constraints:
        - node.role == worker      
    force_update: yes    
  loop: "{{ peerservices }}"
  loop_control:
    index_var: idx
  when: cli.switch == "on"