---

# Docker Swarm would be nodes setup

  # Update & Upgrade the nodes
- name: Update and upgrade apt packages
  become: yes
  apt:
    update_cache: yes
  when: ansible_os_family == 'Debian'

- name: Update and upgrade yum packages
  become: yes
  yum:
    update_cache: yes
  when: ansible_os_family == 'RedHat'
  
  # Setup relevent repos

  # GOLANG Repos
- name: Set up the golang APT repository
  become: yes
  apt_repository:
    repo: ppa:longsleep/golang-backports
    state: present
  when: ansible_os_family == 'Debian'  

- name: Set up the golang YUM GPG key
  become: yes
  rpm_key: 
    key: https://mirror.go-repo.io/centos/RPM-GPG-KEY-GO-REPO
    state: present
  when: ansible_os_family == 'RedHat'

  # Docker Repos
- name: Set up the Docker CE YUM repository
  become: yes
  get_url:
    url: https://mirror.go-repo.io/centos/go-repo.repo
    dest: /etc/yum.repos.d/go-repo.repo
  when: ansible_os_family == 'RedHat'

  # GlusterFS Repos
- name: Add new apt source for GlusterFS
  apt_repository:
    repo: ppa:gluster/glusterfs-{{ glusterd_version }}
    filename: gluster.list
    state: present
  when: ansible_os_family == 'Debian'

- name: Add an RPM signing key for GusterFS, uses whichever key is at the URL
  rpm_key:
    key: http://download.gluster.org/pub/gluster/glusterfs/{{ glusterd_version }}/rsa.pub
    state: present
  when: ansible_os_family == 'RedHat'

- name: Add new yum source for GlusterFS
  yum_repository:
    name: glusterfs
    description: glusterfs YUM repo
    baseurl: https://download.gluster.org/pub/gluster/glusterfs/{{ glusterd_version }}/LATEST/RHEL/glusterfs-rhel8.repo
    state: present
  when: ansible_os_family == 'RedHat'

  # Install the packages specified in defaults/main.yml
- name: Install prerequisites for Debian distros
  become: yes
  apt:
    name: "{{ item }}"
    state: present
    update_cache: yes
  loop: "{{ debian_package_list }}"
  when: ansible_os_family == 'Debian'

- name: Install prerequisites for RedHat distros
  become: yes
  yum:
    name: "{{ item }}"
    state: present
  loop: "{{ redhat_package_list }}"
  when: ansible_os_family == 'RedHat'

- name: Install docker driver for python.
  become: yes
  pip:
    name: "{{ item }}"
  loop: "{{ pip_packages }}"