# ---

# HLF CLI Service

- name: Create chaincodes folders in hlft-store
  become: yes
  file: 
    path: "/root/hlft-store/chaincodes"
    state: directory
    mode: 0750

- name: Copy the local test chaincode folder
  become: yes
  copy: 
    src: "test_chaincode/"
    dest: "/root/hlft-store/chaincodes/test_chaincode"
    mode: 0750

- name: Copy CLI script
  become: yes
  copy:
    src: "CLI.sh"
    dest: "/root/hlft-store/CLI.sh"
    mode: "0500"
    force: yes 
                
  # Create & Start service for CLI 
- name: Fabric Service - {{ cli.name }}
  become: yes
  docker_swarm_service:
    name: "{{ cli.name }}"
    hostname: "{{ cli.name }}"
    networks:
      - "{{swarm_network}}"
    image: "{{cli.image}}:{{cli.tag}}"
    command: >
      bash -c "/root/{{ cli.name }}/CLI.sh;"      
    working_dir: /root/{{ cli.name }}
    mounts:     
      - source: "/root/hlft-store"
        target: "/root/{{ cli.name }}"
        type: bind      
    env: 
      - "GOPATH=/opt/gopath"
      - "CORE_VM_ENDPOINT=unix:///var/run/docker.sock"
      - "CORE_PEER_TLS_ENABLED=true"  
      - "CORE_PEER_LOCALMSPID={{org.name}}MSP"    
      - "ORDERER_HOST={{orderer.name}}"
      - "ADMIN_USER={{admin_user}}"      
      - "TLSCA_HOST={{tlsca.name}}"
      - "ORGCA_HOST={{orgca.name}}"
      - "INSTALL_TEST_CHAINCODE={{INSTALL_TEST_CHAINCODE}}"
    placement:      
      constraints:
        - node.role == worker      
    force_update: yes    
  when: cli.switch == "on"

- name: Remove orphan CLIs
  become: yes
  shell: docker service rm $(docker service ls | grep _cli | cut -b 1-12 | sed 's/ *$//g')
  ignore_errors: yes