[debian]
{{debian_hosts}}

[redhat]
{{redhat_hosts}}

[swarm_manager_prime]
{{swarm_manager_prime}}

[swarm_managers]
{{swarm_managers}}

[swarm_workers]
{{swarm_workers}}

[all:children]
swarm_manager_prime
swarm_managers
swarm_workers
